.common-sec{height: 30vh;
  width: 100%;
  
  background-color: #eee;
  background-position: center;
  background-size: cover;
  border-radius: 50px 0 50px 0;
  
  animation: image 8s infinite alternate;
}


.common-sec h1{
  font-size: 4.5rem;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}