.search_bar{
    padding: 0.5rem 1.6rem;
    border-radius: 50px 0 50px 0 ;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    width: max-content;
    margin-top: 50px;

}

.form_group span{
    font-size: 1.8rem;
    color:#128C7E ;
}

.form_group input{
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);

}
.form_group input:focus{
    margin-bottom: 0;
}
.form_group-fast{
    border-right: 2px solid #ddd;
}
.search_icon{
    font-style: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}